
# vim swap file
*.swp

# test coverage files
testcoverage.html
testcoverage.txt
coverage.html
coverage.txt

# tempoary test files
cmd/gobenkyoo-import/testdata/jsondb
cmd/gobenkyoo-learnbox/testdata/jsondb
store/jsondb/testdata/store
app/testdata/jsondb/classroom

# executables
*.exe

cmd/gobenkyoo/gobenkyoo
cmd/gobenkyoo-import/gobenkyoo-import
cmd/gobenkyoo-learnbox/gobenkyoo-learnbox

